[paths]
source =
   src/getdoc
   */site-packages/getdoc

[run]
branch = true
source =
    getdoc
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit =
    *migrations*
    tests/*
